RAG_PROJECT_ROOT=/root/RAG_proj/sustech-rag
RAG_STORAGE_ROOT=/root/autodl-tmp/sustech-rag

HF_HOME=/root/autodl-tmp/sustech-rag/models/hf-cache
TRANSFORMERS_CACHE=/root/autodl-tmp/sustech-rag/models/hf-cache
MODELSCOPE_CACHE=/root/autodl-tmp/sustech-rag/models/modelscope-cache

VLLM_HOST=0.0.0.0
VLLM_PORT=8000
RAG_API_PORT=8080
GRADIO_PORT=7860
NO_PROXY=localhost,127.0.0.1,0.0.0.0
no_proxy=localhost,127.0.0.1,0.0.0.0
